@import "tailwindcss";



@font-face {
  font-family: 'Medieval Sharp';
  src: url('/assets/fonts/MedievalSharp-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* variables CSS válidas */
:root {
  --fonts-sans: 'Medieval Sharp', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* ejemplo: aplicar por defecto */
html,
body {
  font-family: var(--fonts-sans);
}