---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import IntroVideo from "../components/IntroVideo.astro";
import Iniciar from "../components/iniciar.astro";
import "../styles/global.css";
---

<Layout>
	<Welcome />
	<IntroVideo />
	
	<Iniciar />

	<section class="fixed inset-0 w-full h-full">
		<video
			id="main-video"
			playsinline
			loop
			preload="auto"
			class="w-full h-full object-cover"
		>
			<source src="/Trailer-Home.mp4" type="video/mp4" />
			Tu navegador no soporta el video.
		</video>
	</section>
</Layout>
