---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import IntroVideo from "../components/IntroVideo.astro";
import StartScreen from "../components/iniciar.astro";
import "../styles/global.css";
---


<Layout>
	<Welcome />
	<IntroVideo />

	<!-- Pantalla de inicio que aparece primero -->
	<StartScreen />

	<!-- Video de fondo (detenido hasta que se presione el botón) -->
	<section class="fixed inset-0 w-full h-full">
		<video
			id="main-video"
			playsinline
			loop
			preload="metadata"
			class="w-full h-full object-cover"
			poster="/images/video-poster.jpg"
			muted
			crossorigin="anonymous"
		>
			<source
				src="https://res.cloudinary.com/do6g7cjx4/video/upload/v1759804604/Trailer-Home_ws4hxt.mp4"
				type="video/mp4"
			/>
			Tu navegador no soporta el video.
		</video>
	</section>
</Layout>
