---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <Welcome />
    <main class="flex overflow-hidden">
        <div class="h-screen w-full bg-[url('/img/texture-paper-background-parchment.webp')] bg-cover bg-center flex items-center justify-center">
            <h1 class="font-f">hola</h1>
        </div>
    </main>
</Layout>
